{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    <h1>Contact</h1>

    {% set logged = app.user %}
    {{ form_start(form, {attr: { novalidate: true }}) }}
    {% if logged %}
        {{ form_row(form.firstname, { attr: {'readonly': 'true' }}) }}
        {{ form_row(form.lastname, { attr: {'readonly': 'true' }}) }}
        {{ form_row(form.email, { attr: {'readonly': 'true' }}) }}
    {% else %}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
    {% endif %}
    {{ form_rest(form) }}

    <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}

