{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        {{ message }}
    {% endfor %}

    <main class="main-wrapper">
        <div class="intro-img padding-left-right">
            <h1>Team Savate Massingienne</h1>
        </div>

        <div class="site-content">

            {# INTRODUCTION SECTION #}
            <section class="introduction">
                <h2 class="text-center">Introduction</h2>
                <div class="content centered padding-left-right grid grid-two-columns">
                    <div class="img"></div>
                    <div class="text {{ association.textIntro ? 'text-justify' : 'text-center' }}">
                        <p>{{ association.textIntro|default('L\'introduction n\'a pas encore rédigée.') }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="text-center">
                                <a href="{{ url('admin.content') }}" class="to-admin-button">Gestion du contenu</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>

            {# INFORMATIONS SECTION #}
            <section class="informations">
                <h2 class="text-center">Informations</h2>
                <div class="content centered padding-left-right grid">
                    <p class="text-center">{{ association.textInfo|default("Les informations n'ont pas encore été fournies.") }}</p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-center">
                        <a href="{{ url('admin.content') }}" class="to-admin-button">Gestion du contenu</a>
                    </div>
                {% endif %}
            </section>

            {# TEAM SECTION #}
            <section class="team">
                <h2 class="text-center">Équipe</h2>
                <div class="team-members content centered padding-left-right grid grid-vertical-center grid-horizontal-center {% if association.teamMembers|length == 0 %}grid-no-column{% else %}grid-team-columns{% endif %}">
                    {% for member in association.teamMembers %}
                        <div class="member text-center">
                            <img src="{{ member.imagePath ? asset('images/' ~ member.imagePath) : asset('images/no-pp.jpg') }}" alt="Photo de {{ member.firstname }}">
                            <p class="text-center">{{ member.firstname }}, {{ member.job }}</p>
                        </div>
                    {% else %}
                        <p class="text-center">Aucun membre d'équipe n'a été ajouté.</p>
                    {% endfor %}
                </div>
                <div class="text-center">
                    {% if is_granted('ROLE_ADMIN') %}
                        <p class="text-center"><a href="{{ url('admin.content') }}" class="to-admin-button">Gestion du contenu</a></p>
                    {% endif %}
                </div>
            </section>

            {# NEWS SECTION #}
            <section class="news">
                <h2 class="text-center">Actualités</h2>
                <div class="content centered text-center padding-left-right grid {% if twoLastNews|length == 0 %}grid-horizontal-center grid-vertical-center{% elseif twoLastNews|length == 1 %} grid-no-column{% else %}grid-two-columns{% endif %}">
                    {% for news in twoLastNews %}
                        <div class="homepage-news">
                            <div class="news-header">
                                <h3>{{ news.name }}</h3>
                                <small>
                                    Publié le {{ news.createdAt|date('d/m/Y à H:i') }}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ url('admin.news_update', {id: news.id}) }}" class="to-admin-link">Éditer</a><br>
                                    {% endif %}
                                </small>
                            </div>
                            <div class="news-content text-justify">
                                <p>{{ news.content|length < 300 ? news.content : news.content|slice(0, 300) ~ '...' }}</p>
                            </div>

                            <a href="{{ url('news.read', {slug: news.slug}) }}" class="action-button">Lire</a>
                        </div>
                    {% else %}
                        <p class="text-center">Aucune actualité n'a été publiée.</p>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href="{{ url('news.index') }}" class="black-action-button">Toutes les actualités</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('admin.news_create') }}" class="to-admin-button">Publier une actualité</a>
                    {% endif %}
                </div>
            </section>

            {# EVENTS SECTION #}
            <section class="events">
                <h2 class="text-center">Évènements</h2>
                <div class="content centered padding-left-right grid {% if twoLastEvents|length == 0 %}grid-horizontal-center grid-vertical-center{% elseif twoLastEvents|length == 1 %} grid-no-column{% else %}grid-two-columns{% endif %}">
                   {% for event in twoLastEvents %}
                        <div class="homepage-events">
                            <h3 class="text-center">{{ event.name|length > 50 ? event.name|slice(0,50) ~ '...' : event.name }}</h3>
                            <small>
                                Début : {{ event.startingDate|date('d/m/Y à H:i') }} - Fin : {{ event.endingDate|date('d/m/Y à H:i') }}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ url('admin.event_update', {id: event.id}) }}" class="to-admin-link">Éditer</a>
                                {% endif %}
                            </small>

                            <p class="text-justify minimized-element">{{ event.description }}</p>
                        </div>
                   {% else %}
                        <p class="text-center">
                            Aucun évènement n'est prévu pour le moment.
                        </p>
                   {% endfor %}
                </div>
                <div class="text-center">
                    <a href="{{ url('event.archives') }}" class="black-action-button">Archives</a>
                    <a href="{{ url('event.index') }}" class="black-action-button">Tous les évènements</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('admin.event_create') }}" class="to-admin-button">Créer un évènement</a>
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {

            var minimized_elements = $('p.minimized-element');

            minimized_elements.each(function() {
                var t = $(this).text();
                if (t.length < 350) return;

                $(this).html(
                    t.slice(0,350)
                    + '<span>... </span><a href="#" class="more content-link"> Lire</a>'
                    + '<span style="display:none;">' + t.slice(350,t.length)
                    + '<a href="#" class="less content-link"> Moins</a></span>'
                );
            });

            $('a.more', minimized_elements).click(function(e) {
                e.preventDefault();
                $(this).hide().prev().hide();
                $(this).next().show();
            });

            $('a.less', minimized_elements).click(function(e) {
                e.preventDefault();
                $(this).parent().hide().prev().show().prev().show();
            });
        });
    </script>
{% endblock %}