{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        {{ message }}
    {% endfor %}

    <p>{{ association.textIntro|default("Aucune intro n'a été rédigée.") }}</p>
    <p>{{ association.textInfo|default("Aucune info n'a été renseignée.") }}</p>

    {% for teamMember in association.teamMembers %}
        {% if teamMember.imagePath %}
            <img src="{{ asset('images/' ~ teamMember.imagePath) }}" alt="Photo de {{ teamMember.firstname }}">
        {% endif %}
        <p>{{ teamMember.firstname }} - {{ teamMember.job }}</p>
    {% else %}
        <p>Aucun membre à afficher</p>
    {% endfor %}

    {% for event in events %}
        <p>{{ event.name }}</p>
    {% else %}
        <p>Aucun évènement à afficher</p>
    {% endfor %}

    {% for news in newsList %}
        <p>{{ news.name }}</p>
    {% else %}
        <p>Aucune actualité à afficher</p>
    {% endfor %}

{% endblock %}