{% extends 'base.html.twig' %}
{% block title %}Évènements passés - {{ parent() }}{% endblock %}
{% block body_id 'archives' %}

{% block body %}
    <main class="main-wrapper">
        <div class="content centered padding-left-right">
            <h1 class="text-center">Archives</h1>

            <div class="events-container">
                {% for event in pastEvents %}
                <article class="event">
                    <section class="event-header">
                        <h2>{{ event.name }}</h2>
                        <small>
                            {% if date(event.startingDate) == date(event.endingDate) %}
                                Le {{ event.startingDate|date('d/m/Y de H:i') }} à {{ event.endingDate('H:i') }}.
                            {% else %}
                                Du {{ event.startingDate|date('d/m/Y') }} au {{ event.endingDate|date('d/m/Y') }}.
                            {% endif %}
                        </small>
                    </section>
                    <section class="event-content">
                        <p class="text-justify">{{ event.description }}</p>
                    </section>

                    <section class="event-footer">
                        Ils ont participé :
                        {% for user in event.users %}
                            {{ user.firstname|capitalize }}{% if loop.index and not loop.last %}, {% endif %}
                        {% endfor %}
                    </section>
                </article>
                {% endfor %}
            </div>

            {% if not pastEvents %}
                <p>Aucun évènement n'a eu lieu pour le moment.</p>
            {% endif %}

            <div class="buttons">
                <div class="left">
                    <a href="{{ url('app.index') }}" class="black-action-button">Accueil</a>
                    <a href="{{ url('event.index') }}" class="black-action-button">Retour</a>
                </div>
                <div class="right">
                    <a href="{{ url('admin.event') }}" class="to-admin-button">Les évènements</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

