{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>{% if isNewEvent %}Nouvel évènement{% else %}Éditer &laquo; {{ event.name }} &raquo;{% endif %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ url('admin.event') }}">Retour</a>
    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

{% endblock %}