{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>
        {{ isNewEvent ? 'event.create' : 'event.update' }}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ url('admin.event') }}">Back</a>
    <button type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}