{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form, { attr: { action: path('security.login') } }) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button type="submit">Connexion</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    {{ form_end(form) }}
{% endblock %}