{% extends 'base.html.twig' %}

{% block body %}

    <h1>home.index</h1>

    <p>{{ association.textIntro|default("Aucune intro n'a été rédigée.") }}</p>
    <p>{{ association.textInfo|default("Aucune info n'a été renseignée.") }}</p>

    {% for teamMember in association.teamMembers %}
        <p><strong>Membre d'équipe {{ loop.index }} : </strong>{{ teamMember.firstname }} - {{ teamMember.job }}</p>
    {% else %}
        <p>Aucun membre à afficher</p>
    {% endfor %}

    {% for event in events %}
        <p>{{ event.name }}</p>
    {% else %}
        <p>Aucun évènement à afficher</p>
    {% endfor %}

    {% for news in newsList %}
        <p>{{ news.name }}</p>
    {% else %}
        <p>Aucune actualité à afficher</p>
    {% endfor %}

{% endblock %}