<article class="admin-event">
    <section class="admin-event-header">
        <h3>
            {{ event.name }}
            <small>
                {% if is_granted('ROLE_MODERATEUR') %}
                    {% if date('now') < date(event.endingDate) %}
                        <a href="{{ url('admin.event_update', {id: event.id}) }}" class="black-link"><i class="fas fa-edit"></i></a>
                        {% if is_granted('ROLE_ADMINISTRATEUR') %}
                            <a href="{{ path('admin.event_delete', {id: event.id, redirect: 'admin.event'}) }}" class="content-link"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </small>
        </h3>
        <small>
            Créé le {{ event.createdAt|date('d/m/Y à H:i') }}
            {% if event.updatedAt %}- Mis à jour le {{ event.updatedAt|date('d/m/Y à H:i') }}{% endif %}<br>
            Commence le {{ event.startingDate|date('d/m/Y à H:i') }} - Prend fin le {{ event.endingDate|date('d/m/Y à H:i') }}
        </small>
    </section>

    <section class="admin-event-content">
        <p class="text-justify">
            {% if event.description|length > 200 %}
                {{ event.description|slice(0, 200) ~ '...' }}
            {% else %}
                {{ event.description }}
            {% endif %}
        </p>
    </section>

    <section class="admin-event-subscribers">
        <p>Participants :</p>
        {% if event.users|length > 0 %}
            {% for user in event.users %}
                {{ user.firstname|capitalize }} {% if loop.index and not loop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucun membre n'est inscrit.</p>
        {% endif %}
    </section>
</article>