{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    {# Submitting the AssociationType form will print a flash message #}
    {% for message in app.flashes('notice') %}
        {{ message }}
    {% endfor %}

    <h1>Contenu du site</h1>
    {{ form_start(form) }}

    <h3>Page d'accueil</h3>
    {{ form_row(form.textIntro) }}
    {{ form_row(form.textInfo) }}

    <h3>Pied de page</h3>
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.address) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.aboutUs) }}
    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <h3>Membres d'équipe</h3>
    {{ form_start(formAddTeamMember) }}
    {{ form_widget(formAddTeamMember) }}
    <button type="submit">Ajouter</button>
    {{ form_end(formAddTeamMember) }}

    {% if teamMembers %}
    <table>
        <thead>
        <tr>
            <td>Photo</td>
            <td>Prénom</td>
            <td>Rôle</td>
            <td>Action</td>
        </tr>
        </thead>

        <tbody>
            {% for member in teamMembers %}
                <tr>
                    <td><img src="{{ asset('images/' ~ member.imagePath) | imagine_filter('admin_team_thumbnail')}}" alt="Photo de {{ member.firstname }}"></td>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.job }}</td>
                    <td><a href="{{ path('admin.delete-team-member', {id: member.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucun membre d'équipe n'a été ajouté.</p>
    {% endif %}
{% endblock %}