{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>Members</h1>

    {% for member in membersList %}
        Id: {{ member.id }} - Username: {{ member.username }} {{ '- ' ~ member.firstname|default('null') }} {{ '- ' ~ member.lastname|default('null') }}
        - <a href="{{ path('admin.update_member', {id: member.id}) }}">edit</a>
        {% if not (app.user == member) %}
            - <a href="{{ path('admin.delete_member', {id: member.id}) }}">delete</a>
        {% endif %}
    {% else %}
        Pas de membre
    {% endfor %}
{% endblock %}