{% extends 'admin/base.html.twig' %}
{% block body_id 'admin-news-list' %}
{% block title %}Administration Actualités - {{ parent() }}{% endblock %}

{% block admin_body %}
    <main class="main-wrapper">
        {% for message in app.flashes('notice') %}
            <div class="flash-success">{{ message }}</div>
        {% endfor %}
        <div class="content centered padding-left-right grid">
            <div class="left">
                <h1>Actualités</h1>
                {% for news in listNews %}
                    <article class="admin-news">
                        <div class="admin-news-header">
                            <h3>{{ news.name }}
                                <small>
                                    {% if is_granted('ROLE_MODERATEUR') %}
                                        <a href="{{ url('admin.news_update', {id: news.id}) }}" class="black-link"><i class="fas fa-edit"></i></a>
                                        {% if is_granted('ROLE_ADMINISTRATEUR') %}
                                            <a href="{{ path('admin.news_delete', {id: news.id}) }}" class="content-link"><i class="fas fa-trash-alt"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </h3>
                            <small>
                                Publié le {{ news.createdAt|date('d/m/Y à H:i') }}
                                {{ news.updatedAt ? '- Édité le ' ~ news.updatedAt|date('d/m/Y à H:i') }}
                            </small>
                        </div>

                        <div class="admin-news-content">
                            <p class="text-justify">{{ news.content|length > 300 ? news.content|slice(0, 300) ~ '...' : news.content }}</p>
                            <div class="text-right">
                                <a href="{{ url('admin.news_read', {id: news.id}) }}" class="action-button">Lire</a>
                            </div>
                        </div>
                    </article>
                    {% if loop and not loop.last %}<hr>{% endif %}
                {% else %}
                    <p>Aucune actualité n'a été publiée.</p>
                {% endfor %}
            </div>

            <aside class="admin-actions">
                <a href="{{ path('admin.news_create') }}" class="create">Nouvelle actualité</a>
                <a href="{{ path('admin.index') }}" class="back">Accueil</a>
            </aside>
        </div>
    </main>
{% endblock %}