{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>Actualités</h1>

    {% for news in listNews %}
        <ul>
            <li>Titre : {{ news.name }}</li>
            <li>Publié le {{ news.createdAt|date('d/m/Y - H:i') }}</li>
            {{ news.updatedAt ? ('<li> Dernière mise à jour : ' ~ news.updatedAt|date('d/m/Y à H:i') ~ '</li>')|raw }}
            <li>Contenu : {{ news.content }}</li>
            <li>
                <a href="{{ url('admin.news_read', {id: news.id}) }}">Lire</a> -
                <a href="{{ url('admin.news_update', {id: news.id}) }}">Éditer</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    - <a href="{{ url('admin.news_delete', {id: news.id}) }}">Supprimer</a>
                {% endif %}
            </li>
        </ul>
    {% else %}
        <p>Aucune actualité n'a été publiée.</p>
    {% endfor %}

    <a href="{{ url('admin.index') }}">Retour</a>
    <a href="{{ url('admin.news_create') }}">Publier une actualité</a>

{% endblock %}