{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>{{ news.name }}</h1>

    <small>
        Publiée le {{ news.createdAt|date('d/m/Y à H:i') }}
        {{ news.updatedAt ? ('- <strong>Mise à jour le ' ~ news.updatedAt|date('d/m/Y à H:i') ~ '</strong>')|raw }}
    </small>

    <p>{{ news.content }}</p>

    <a href="{{ url('admin.news') }}">Retour</a>
{% endblock %}