{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>news.read</h1>

    <h2>{{ news.name }}</h2>
    <small>
        Created at: {{ news.createdAt|date('d/m/Y - H:i') }}
        {{ news.updatedAt ? ('<strong>Updated at: ' ~ news.updatedAt|date('d/m/Y - H:i') ~ '</strong>')|raw }}
    </small>
    <p>{{ news.content }}</p>

    <a href="{{ url('admin.news') }}">Back</a>
{% endblock %}