{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    {# Deleting a team member will print a flash message #}
    {% for messages in app.flashes(['success', 'failure']) %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endfor %}

    <h1>Équipe</h1>

    {% if teamMembers|length > 0 %}
        <table>
            <thead>
            <tr>
                <th>Photo</th>
                <th>Prénom</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for member in teamMembers %}
                <tr>
                    <td>
                        {% if member.imagePath %}
                            <img src="{{ asset('images/' ~ member.imagePath) | imagine_filter('admin_team_thumbnail') }}" alt="">
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.job }}</td>
                    <td>
                        <a href="{{ path('admin.delete-team-member', {id: member.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun membre n'a été ajouté à l'équipe.</p>
    {% endif %}
{% endblock %}