{% extends 'base.html.twig' %}

{% block body %}
    <h1>news.index</h1>

    {% for news in newsCollection %}
        <p>Id: {{ news.id }}</p>
        <p>Name: {{ news.name }}</p>
        <p>Creation: {{ news.createdAt|date('d/m/Y - H:i') }}</p>
        {{ news.updatedAt ? ('<p> Last update: ' ~ news.updatedAt|date('d/m/Y - H:i') ~ '</p>')|raw }}
        <p>Content: {{ news.content }}</p>
        <a href="{{ url('news.read', {id: news.id}) }}">Read</a>
    {% else %}
        <p>Pas de news</p>
    {% endfor %}

    <a href="{{ url('admin.index') }}">Back</a>
    
{% endblock %}