{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ news.name }}</h1>

    <small>
        Publiée le {{ news.createdAt|date('d/m/Y à H:i') }}
        {{ news.updatedAt ? ('- <strong>Mise à jour le ' ~ news.updatedAt|date('d/m/Y à H:i') ~ '</strong>')|raw }}
    </small>

    <p>{{ news.content|markdown }}</p>

    <a href="{{ url('news.index') }}">Retour</a>
{% endblock %}