{# templates/emails/contact.html.twig #}
<h2>{{ contact.firstname|capitalize ~ ' ' ~ contact.lastname|capitalize }} vous écrit</h2>
<h3>Envoyé par <strong>{{ contact.email }}</strong> le : {{ contact.sendAt|date('d/m/Y à H:i') }}</h3>

<h4>Objet : {{ contact.subject }}</h4>

<p>{{ contact.content }}</p>