<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <ul>
                <li><a href="{{ path('home.index') }}">Accueil</a></li>
                <li><a href="{{ path('event.index') }}">Évènements</a></li>
                <li><a href="{{ path('news.index') }}">Actu</a></li>
                <li><a href="{{ path('security.login') }}">Connexion</a></li>
                {% if app.user %}
                    <li><a href="{{ path('user.read', {username: app.user.username}) }}">Profil</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="{{ path('security.logout') }}">Déconnexion</a></li>
                {% endif %}
            </ul>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
