{% extends 'admin/base.html.twig' %}

{% block admin_body %}

    <h1>Suppression de licence</h1>
    <p>Vous êtes sur le point de supprimer
        {% if license.user == app.user %}
            votre licence <strong>{{ license.year }}/{{ license.year + 1 }}</strong>.
        {% else %}
            la licence <strong>{{ license.year }}/{{ license.year + 1 }}</strong> de
            <strong>{{ license.user.firstname|capitalize ~ ' ' ~ license.user.lastname|capitalize }}</strong>.
        {% endif %}
        Confirmez-vous ?
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('admin.members') }}">Retour</a>
    <button type="submit">Confirmer</button>
    {{ form_end(form) }}

{% endblock %}

