{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>Membres</h1>

    {% if membersList %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Pseudo</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>N° de licence</th>
            <th>Dernière licence</th>
            <th>Rôle</th>
            <th>Mise à jour</th>
            <th>Licences</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for member in membersList %}
            <tr class="top">
                <td>{{ member.id }}</td>
                <td>{{ member.username|capitalize }}</td>
                <td>{{ member.firstname|capitalize }}</td>
                <td>{{ member.lastname|capitalize }}</td>
                <td>{{ member.licenseNumber ? member.licenseNumber : 'n/a' }}</td>
                <td>
                    {% set lastLicense = licensesManager.getLastUserLicense(member) %}

                    {% if lastLicense is not null %}
                        <a href="{{ asset('licenses/' ~ lastLicense.name) }}" target="_blank">{{ lastLicense.year }}</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            - <a href="{{ path('admin.member.delete_license', {id: lastLicense.id}) }}">Supprimer</a>
                        {% endif %}
                    {% else %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('admin.member.upload_license', {id: member.id}) }}">Ajouter</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{% if member.roles[0] == 'ROLE_SUPER_ADMIN' %}Admin{% elseif member.roles[0] == 'ROLE_MODERATEUR' %}Modérateur{% else %}Utilisateur{% endif %}</td>
                <td>{{ member.updatedAt ? member.updatedAt|date('d/m/Y - H:i') }}</td>
                <td class="toggle-license">{{ member.licenses|length }}</td>
                <td>
                    {# A moderateur can't edit a super admin #}
                    {% if not (app.user.roles[0] == "ROLE_MODERATEUR" and member.roles[0] == "ROLE_SUPER_ADMIN") %}
                        <a href="{{ path('admin.update_member', {id: member.id}) }}">Éditer</a>
                    {% endif %}

                    {# If the current user is a super admin #}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {# And the member role isn't super admin#}
                        {% if member.roles[0] != 'ROLE_SUPER_ADMIN' %}
                            - <a href="{{ path('admin.delete_member', {id: member.id}) }}">Supprimer</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr class="bottom hidden">
                <td colspan="7">
                    <table>
                        {% for license in member.licenses %}
                            <tr>
                                <td>Licence {{ license.year }}</td>
                                <td><a href="{{ asset('licenses/' ~ license.name) }}" target="_blank">Voir</a></td>
                                <td>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="{{ path("admin.member.delete_license", {"id": license.id}) }}">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/content.js') }}"></script>
{% endblock %}