{% extends 'admin/base.html.twig' %}
{% block body_id 'admin-members' %}
{% block title %}Administration Membres - {{ parent() }}{% endblock %}

{% block admin_body %}
    {% set MAINTENANCE, ADMIN, MODO, USER = is_granted('ROLE_MAINTENANCE'), is_granted('ROLE_ADMINISTRATEUR'), is_granted('ROLE_MODERATEUR'), is_granted('ROLE_USER') %}

    <main class="main-wrapper">
        {% for message in app.flashes('notice') %}<div class="flash-success">{{ message }}</div>{% endfor %}

        <div class="content centered padding-left-right">
            <h1>Inscriptions en attente</h1>
            {% for subscriber in inactiveUsers %}
                <p class="text-justify">
                    {{ subscriber.firstname|capitalize ~ ' ' ~ subscriber.lastname|capitalize }} ({{ subscriber.email }}),
                    le {{ subscriber.subscribedAt|date('d/m/Y à H:i') }}.
                    {% if ADMIN %}
                        <a href="{{ url('admin.validate_subscription', {'id': subscriber.id}) }}" class="validate-button">Valider</a>
                        <a href="{{ url('admin.reject_subscription', {'id': subscriber.id}) }}" class="reject-button">Refuser</a>
                    {% endif %}
                </p>
            {% else %}
                <p>Aucune inscription en attente.</p>
            {% endfor %}

            <h1>Membres</h1>
            {% if activeUsers %}
                <div class="table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>N° de licence</th>
                            <th>Licences</th>
                            <th>Rôle</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for member in activeUsers %}
                            <tr class="top">
                                <td><a href="{{ url('user.profile', {username: member.username}) }}" target="_blank" class="content-link">{{ member.username|capitalize }}</a></td>
                                <td>{{ member.firstname|capitalize }}</td>
                                <td>{{ member.lastname|capitalize }}</td>
                                <td>{{ member.licenseNumber ?? 'n/a' }}</td>
                                <td>
                                    {% if member.licenses|length > 0 %}<span class="toggle-license"><i class="fas fa-eye"></i></span>{% else %}<i class="fas fa-eye-slash"></i>{% endif %}
                                    {% if ADMIN %}<a href="{{ path('admin.member.upload_license', {id: member.id}) }}" class="content-link"><i class="fas fa-plus-circle"></i></a>{% endif %}
                                </td>
                                <td>
                                    {% if member.roles[0] == 'ROLE_MAINTENANCE' %}
                                        Technicien
                                    {% elseif member.roles[0] == 'ROLE_ADMINISTRATEUR' %}
                                        Admininistrateur
                                    {% elseif member.roles[0] == 'ROLE_MODERATEUR' %}
                                        Modérateur
                                    {% else %}
                                        Utilisateur
                                    {% endif %}
                                </td>
                                <td>
                                    {# If the active user has role 'maintenance' #}
                                    {% if MAINTENANCE %}
                                        <a href="{{ path('admin.update_member', {id: member.id}) }}" class="black-link" title="Éditer le profil"><i class="fas fa-edit"></i></a>
                                    {# If the active user has role 'administrateur' #}
                                    {% elseif ADMIN %}
                                        {# If active user is different than targeted member, or targeted member's role is different than 'maintenance' or 'administrateur' #}
                                        {% if member == app.user or (member.roles[0] != 'ROLE_ADMINISTRATEUR' and member.roles[0] != 'ROLE_MAINTENANCE') %}
                                            <a href="{{ path('admin.update_member', {id: member.id}) }}" class="black-link" title="Éditer le profil"><i class="fas fa-edit"></i></a>
                                        {% endif %}
                                    {% endif %}

                                    {% if MAINTENANCE %}
                                        {% if member.roles[0] != 'ROLE_MAINTENANCE' %}<a href="{{ path('admin.delete_member', {id: member.id}) }}" class="content-link" title="Supprimer le membre"><i class="fas fa-trash-alt"></i></a>{% endif %}
                                    {% elseif ADMIN %}
                                        {% if member.roles[0] != 'ROLE_MAINTENANCE' and member.roles[0] != 'ROLE_ADMINISTRATEUR' %}
                                            <a href="{{ path('admin.delete_member', {id: member.id}) }}" class="content-link" title="Supprimer le membre"><i class="fas fa-trash-alt"></i></a>
                                        {% endif %}
                                    {% else %}
                                        Aucune
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="bottom hidden">
                                <td colspan="7">
                                    <table>
                                        {% for license in member.licenses %}
                                            <tr>
                                                <td>Licence {{ license.year }}</td>
                                                {% if ADMIN %}
                                                    <td><a href="{{ asset('licenses/' ~ license.name) }}" target="_blank" class="black-link">Voir</a></td>
                                                    <td><a href="{{ path("admin.member.delete_license", {"id": license.id}) }}" class="content-link">Supprimer</a></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}