{% extends 'admin/base.html.twig' %}

{% block admin_body %}

    <h1>Mise à jour d'informations</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_row(form.email) }}
        {{ form_row(form.licenseNumber) }}
    {% endif %}

    {% if form.roles is defined and is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_row(form.roles) }}
    {% endif %}

    {{ form_rest(form) }}
    <a href="{{ path('admin.members') }}">Retour</a>
    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

{% endblock %}