{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ user.firstname|capitalize }}</h1>
    <img src="{{ user.imagePath ? asset('images/' ~ user.imagePath) | imagine_filter('img_profile_thumbnail') : 'http://via.placeholder.com/150x150' }}" alt="{{ 'Photo de profil de ' ~ user.firstname }}">

    {% if self %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
        {{ form_end(form) }}

        <a href="{{ url('user.update') }}">Éditer mon profil</a>
    {% endif %}

    <ul>
        <li>Nom d'utilisateur : {{ user.username|capitalize }}</li>
        <li>Prénom : {{ user.firstname|capitalize }}</li>
        <li>Nom : {{ user.lastname|capitalize }}</li>
        <li>N° de licence : {{ user.licenseNumber|default('Pas encore renseigné') }}</li>
        <li>Adresse mail: {{ user.email }}</li>
        <li>Membre depuis le: {{ user.memberSince|date('d/m/Y à H:i') }}</li>
    </ul>

    <h2>Licences</h2>
    {% set licenses = user.licenses %}
    {% if self %}
        {% if licenses|length == 0 %}
            <p>Aucune licence n'a été ajoutée à votre profil.</p>
        {% else %}
            <ul>
                {% for license in licenses %}
                    <li><a href="{{ asset('licenses/' ~ license.name) }} " target="_blank" title="Voir la licence">Licence {{ license.year }}/{{ license.year + 1 }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        {% set userLicenseNumber = user.licenses|length %}
        {% if userLicenseNumber == 0 %}
            <p class="text-center">{{ user.firstname|capitalize }} n'a pas encore de licence.</p>
        {% else %}
            <p class="text-center">{{ user.firstname|capitalize }} possède {{ userLicenseNumber > 1 ? userLicenseNumber ~ " licences" : userLicenseNumber ~ " licence" }}.</p>
        {% endif %}
    {% endif %}

    {% if self %}
        <h2>Mes évènements</h2>
    {% else %}
        <h2>Évènements</h2>
    {% endif %}

    {% if upcomingEvents %}
        {% for event in upcomingEvents %}
            <h4>{{ event.name|capitalize }} <small>- {{ event.startingDate|date('d/m/Y') }}</small></h4>
            <p>Participants : </p>
            <ul>
                {% for user in event.users %}
                    <li><a href="{{ path('user.profile', {'username': user.username}) }}">{{ user.firstname|capitalize }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        {% if self %}
            <p>Vous ne participez à aucun évènement. <a href="{{ path('event.index') }}">Voir les évènements</a></p>
        {% else %}
            <p>Ne participe à aucun évènement.</p>
        {% endif %}
    {% endif %}
{% endblock %}