{% extends 'base.html.twig' %}

{% block body %}
    <h1>user.read</h1>

    <h2>{{ user.firstname|capitalize }}</h2>
    <img src="{{ user.imagePath ? asset('images/' ~ user.imagePath) | imagine_filter('img_profile_thumbnail') : 'http://via.placeholder.com/150x150' }}" alt="{{ 'Photo de profil de ' ~ user.firstname }}">

    {% if self %}
        {{ form_start(form) }}
        {% do form.setRendered %}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
        {{ form_end(form) }}

        <a href="{{ url('user.update') }}">Edit profile</a>
    {% endif %}

    <ul>
        <li>Username: {{ user.username }}</li>
        <li>First name: {{ user.firstname }}</li>
        <li>Last name: {{ user.lastname }}</li>
        <li>License number: {{ user.licenseNumber ?? 'undefined' }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Member since: {{ user.memberSince|date('d/m/Y - H:i') }}</li>
    </ul>

    <h2>Licences</h2>
    {% set licenses = user.licenses %}
    {% if self %}
        {% if licenses|length == 0 %}
            <p>You don't have licenses yet.</p>
        {% else %}
            <ul>
                {% for license in licenses %}
                    <li><a href="{{ asset('licenses/' ~ license.name) }} " target="_blank" title="See in the browser">License {{ license.year }}/{{ license.year + 1 }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        {% set userLicenseNumber = user.licenses|length %}
        {% if userLicenseNumber == 0 %}
            <p class="text-center">{{ user.firstname }} doesn't have licenses yet.</p>
        {% else %}
            <p class="text-center">{{ user.firstname }} owns {{ userLicenseNumber > 1 ? userLicenseNumber ~ " licenses" : userLicenseNumber ~ " license" }}.</p>
        {% endif %}
    {% endif %}

    {% if self %}
        <h2>My events</h2>
    {% else %}
        <h2>Events</h2>
    {% endif %}

    {% if upcomingEvents %}
        {% for event in upcomingEvents %}
            <h4>{{ event.name }} <small>- {{ event.startingDate|date('d/m/Y') }}</small></h4>
            <p>Users attending: </p>
            <ul>
                {% for user in event.users %}
                    <li><a href="{{ path('user.profile', {'username': user.username}) }}">{{ user.firstname }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        {% if self %}
            <p>Vous ne participez à aucun évènement. <a href="{{ path('event.index') }}">Voir les évènements</a></p>
        {% else %}
            <p>Ne participe à aucun évènement.</p>
        {% endif %}
    {% endif %}
{% endblock %}